.form-login-block {
  width: 50vw;
  margin-top: 4rem;
  margin-right: auto;
  margin-left: auto;
}

.form-block {
  padding: 7%;
  background-color: hsla(0, 0.00%, 23.33%, 1.00);
}

.heading {
  color: hsla(189, 80.72%, 48.69%, 1.00);
}

.field-label {
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 16px;
}

.field {
  border: 1px solid black;
}